body {
    padding: 3rem;
}

h2 {
    color: #27acad;
}

h3 {
    color: green;
}

.film-plakat {
    width: 150px;
    float: left;
    padding-right: 15px;
    margin-left: 10px;
}

.goRight {
    float: right;
    padding-right: 7px;
}