{% extends 'glowny.html' %}
{% load bootstrap %}
{% block tytul %} Zaloguj siem {% endblock %}

{% block strona %}
    <div class="card" style="width: 28rem;">
        <div class="card-body">
            <h5 class="card-title">Zaloguj</h5>
            <form method="post">
                {% csrf_token %}
                {{ form|bootstrap }}
                <button type="submit" class="btn btn-success">Zaloguj</button>
            </form>
        </div>
    </div>
{% endblock %}