{% extends 'glowny.html' %}
{% load bootstrap %}
{% block tytul %} Film form {% endblock %}

{% block strona %}

    <div class="card" style="width: 35rem; float: left; margin-right: 1rem">
        <div class="card-body">
             {% if nowy %}
             <h5 class="card-title">Nowy film</h5>
             {% else %}
             <h5 class="card-title">Edytuj film</h5>
             {% endif %}

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|bootstrap }}
                {{ form_dodatkowe|bootstrap }}
                    {% if nowy %}
                        <button class="btn btn-dark" type="submit">Nowy film</button>
                    {% else %}
                        <button class="btn btn-dark" type="submit">Dodaj film</button>
                    {% endif %}
                        <a class="btn btn-dark" href="{% url 'wszystkie_filmy' %}">Cofnij</a>
            </form>
        </div>
    </div>

    {% if form_ocena %}
    <div class="card" style="width: 35rem; float: left; margin-right: 1rem">
        <div class="card-body">
            <h5 class="card-title">Oceń film</h5>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form_ocena|bootstrap }}
                <button class="btn btn-dark" type="submit">Oceń</button>
            </form>
        </div>
    </div>
    {% endif %}

    {% for ocena in oceny %}
        <h4>Gwiazdki: {{ocena.gwiazdki}}</h4>
        <p>{{ocena.recenzja}}</p>
    {% endfor %}

{% endblock %}
