{% extends 'glowny.html' %}

{% block tytul %} Lista filmów {% endblock %}

{% block strona %}
    <div class="jumbotron">
            {% if user.is_authenticated %}
            <hr>
            <h1 class="display-4">Witaj ~ {{ user.username }} ~ Fibonacci in Space</h1>
            <hr>
            <br>
            <a class="btn btn-dark" href="{% url 'logout' %}">Wyloguj</a>
            {% else %}
            <a class="btn btn-success" href="{% url 'login' %}">Login</a>
            {% endif %}
    </div>
    <hr>
    <a class="btn btn-dark" href="{% url 'nowy_film' %}">Dodaj film</a>
    <hr>
    {% if filmy|length == 0 %}
        <h2>Brak filmów</h2>
    {% else %}
        <h2>Ilość filmów w Bazie Danych: {{ filmy | length }}</h2>
        {% for film in filmy %}
            <div class="card" style="width: 40rem;">
              <div class="card-body">
                <img src="/media/{{ film.plakat }} " class="film-plakat">
                    <div class="row goRight">
                        <a class="btn btn-danger" href="{% url 'edytuj_film' film.id %}">Edytuj</a>
                        <a class="btn btn-warning" href="{% url 'usun_film' film.id %}">Usuń</a>
                    </div>
                  <hr>
                <div class="row">
                    <div class="col-9">
                        <h5 class="card-title">{{ film }}</h5>
                    </div>
                </div>
                  <hr>
                  <div class="row">
                         <p class="card-text">{{ film.opis }}</p>
                  </div>
                  <hr>
              </div>
            </div>

        {% endfor %}
    {% endif %}
{% endblock %}